footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
footer > div{
    width: fit-content;
    min-width: 500px;
    min-height: 500px;
}

footer > div ul{
    padding-inline-start: 0px;
}
footer > div li{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
footer > div li p{
    margin: 0px;
}