main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.category {
    gap: 5px;
}
.category > a{
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px gray;
    padding: 10px;
}

.wrap_list{
    display: flex;
    flex-direction: row;
    padding-inline-start: 0px;
    overflow-x: scroll;
    padding: 10px;
    gap: 10px;
}
.wrap_list > div {
    padding: 10px;
    list-style: none;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px gray;
}
.wrap_list a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


/* =========================
   모바일
========================= */
@media (max-width: 600px){

    main{
        padding: 10px;
    }

    .account{
        display: none;
    }
    .wrap_list{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}