.wrap_contant {
    padding-inline-start: 0px;
}

.wrap_contant>li {
    list-style: none;
    padding-inline-start: 0px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px gray;
    display: flex;
    flex-direction: row;

}



.contantinfo {
    padding-inline-start: 0px;
}

.contantinfo>li {
    list-style: none;
    padding-inline-start: 0px;
    display: flex;
    flex-direction: row;
}
.contantinfo>li>p{
    margin: 10px;
}

.contant_keyword {
    display: flex;
    flex-direction: row;
    padding-inline-start: 0px;
    align-items: center;
    justify-content: left;
}

.contant_keyword>li {
    list-style: none;
    padding-inline-start: 0px;
    margin: 5px;
    padding: 2px;
}