.wrap_CScontent {
    margin-top: 30px;
    padding: 20px;
    background: #0f0f0f;
    border: 1px solid #222;
    border-radius: 16px;
}

.wrap_CScontent ul {
    list-style: none;
    padding: 0;
}

.wrap_CScontent li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}

.wrap_CScontent textarea {
    background: #111;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    resize: none;
}

.wrap_CScontent textarea:focus {
    outline: none;
    border-color: #00eaff;
}