header>.setup {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn_category {
    width: 100px;
    height: 100px;
    background-color: #58FFEB;
    display: flex;

    align-items: center;
    justify-content: center;
}

.logo {
    font-family: "Sekuya", system-ui;
    font-weight: 400;
    font-style: normal;
}

.category {
    position: relative;
    display: inline-block;
}

/* 버튼 */
.btn_category {
    cursor: pointer;
}

/* 숨김 */
.categorylist {
    position: absolute;
    top: 100%;
    left: 0;

    background: white;
    border: 1px solid #ddd;
    padding: 10px;

    display: none;
}

.categorylist>ul {
    padding-inline-start: 0px;
    margin: 0px;
    border: 1px solid black;
}

.categorylist>ul>li {
    list-style: none;
    margin: 5px;
}

.categorylist>ul>li>a {
    text-decoration: none;
    color: black;
}

/* 🔥 핵심 */
.category:hover .categorylist {
    display: block;
}

.categorylist.active .categorylist {
    display: block;
}

.menu {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu ul {
    padding-inline-start: 0px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    /* IE, Edge */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.menu ul::-webkit-scrollbar {
    display: none;
}

.menu li {
    list-style: none;
    border-radius: 30px;
    background-color: lightslategrey;
    width: fit-content;
    padding: 10px;
}

.menu a {
    color: black;
    text-decoration: none;
}