.wrap_data{
    display: grid;
    
}

.intro{
    border: 1px solid black;
    padding: 20px;
    max-width: 900px;
    height: fit-content;
    min-height: 400px;
}

ul{
    padding-inline-start: 0px;
}

.intro li {
    display: flex;
    justify-content: left;
    flex-direction: row;
    border: 1px solid black;
    padding: 5px;
    max-width: 900px;
    list-style: none;
}

.intro li > .date{
    width: fit-content;
    min-width: 100px;
    height: fit-content;
    
}
.intro li > .title{
    width: fit-content;
    min-width: 300px;
    height: fit-content;
    
}
.intro li > .view{
    width: fit-content;
    min-width: 150px;
    height: fit-content;
    
}
