/* =========================
   검색 박스
========================= */
.search_box {
    display: flex;
    align-items: center;

    background: #111;
    border: 1px solid #222;
    border-radius: 20px;

    padding: 4px 10px;
}

/* 입력 */
.search_box input {
    background: transparent;
    border: none;
    outline: none;

    color: #fff;
    font-size: 13px;

    width: 120px;
}

/* 버튼 */
.search_box button {
    background: none;
    border: none;
    cursor: pointer;
}

.search_box img {
    width: 16px;
    opacity: 0.6;
}

.search_box button:hover img {
    opacity: 1;
}